*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --backgroundcolor: #edf0ef;
  --surface: #fffafa;
  --primary-surface: #1a1e22;
  --secondary-surface: #272d33;
  --secondary-variante: #dce1e0;
}

html {
  font-family: "Roboto", sans-serif;
  color: var(--primary-surface);
}

.background-color {
  background-color: var(--backgroundcolor);
}

/* Button hierarchy - visually highlighted by different styling */

.primary-button {
  background-color: var(--primary-surface);
  padding: 0.5rem 1.56rem 0.5rem 1.56rem;

  color: var(--surface);
  border: 0.07rem solid var(--primary-surface);
  border-radius: 0.175rem;

  margin: 0.95rem 0.95rem 0 0;
}

.primary-button:hover {
  background-color: var(--secondary-surface);
  padding: 0.5rem 1.56rem 0.5rem 1.56rem;

  color: var(--surface);
  border: 0.07rem solid var(--secondary-surface);
  border-radius: 0.175rem;
}

.secondary-button {
  background-color: var(--surface);
  padding: 0.5rem 1.56rem 0.5rem 1.56rem;

  border: 0.12rem solid var(--primary-surface);
  border-radius: 0.175rem;

  margin: 0.95rem 0.95rem 0 0;
}

.secondary-button:hover {
  background-color: var(--backgroundcolor);
  padding: 0.5rem 1.56rem 0.5rem 1.56rem;

  border: 0.12rem solid var(--primary-surface);
  border-radius: 0.175rem;

  margin: 0.95rem 0.95rem 0 0;
}

.incognito-button {
  padding: 0.5rem 1.56rem 0.5rem 1.56rem;

  border: none;
  border-radius: 0.175rem;
  background-color: transparent;

  margin: 0.95rem 0 0 0;
}

.incognito-button:hover {
  padding: 0.5rem 1.56rem 0.5rem 1.56rem;

  border: none;
  border-radius: 0.175rem;
  background-color: var(--backgroundcolor);

  margin: 0.95rem 0 0 0;
}

/*create Menu Content*/
.main-background {
  background-color: var(--surface);
  padding: 1.75rem 2.5rem 2.5rem 2.5rem;

  border: 0.09rem solid var(--secondary-surface);
  border-radius: 0.2rem;

  margin: 1rem 3.5rem 1rem 3.5rem;
}

.subheadline {
  color: var(--secondary-surface);
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  font-weight: 300;

  margin-bottom: 2rem;
}
.based-time-of-day {
  padding: 0.5rem 0.85rem 0.5rem 0.85rem;
  margin-bottom: 1.25rem;

  font-size: 0.875rem;

  border: 0.09rem solid var(--secondary-surface);
  border-radius: 0.175rem;

  width: 30%;
}

.type-description {
  font-size: 0.875rem;
  margin-left: 0.4rem;
}

.input-field {
  padding: 0.5rem 0.85rem 0.5rem 0.85rem;
  margin-bottom: 1.25rem;

  border: 0.09rem solid var(--secondary-surface);
  border-radius: 0.175rem;

  width: 99%;
}

::placeholder {
  color: var(--secondary-surface);
  font-size: 0.85rem;
}

/*create Content-Card with the menu*/
.content-card {
  background-color: var(--surface);
  padding: 2.5rem;

  border: 0.12rem solid var(--secondary-variante);
  border-radius: 0.2rem;

  margin: 4rem 3.5rem 1rem 3.5rem;
}

.time-of-date {
  color: var(--secondary-surface);
  font-size: 1.13rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  font-weight: 400;

  margin-bottom: 1.9rem;
}

.menu-name {
  font-size: 1.95rem;

  font-weight: 700;
  margin-bottom: 0.25rem;
}

.description-menu {
  font-size: 1.12rem;

  font-weight: 400;
  margin-bottom: 1.5rem;
}

.cooking-length {
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
}

.menu-prise {
  font-size: 3.5rem;
  font-weight: 900;

  margin-bottom: 2rem;

  display: flex;
  justify-content: end;
}

.edit-btn {
  display: flex;
  justify-content: end;
}
